* {
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.background {
    background-color: #3d85c6ff;
    background-image: url(background-image-temporary.png);
    background-repeat: no-repeat;
    background-size: 3000px 400px;
    min-height: 100vh;
}



.header {
    font-family: 'Istok Web', sans-serif;
    font-size: 40px;
    color: azure;
    text-align: center;
}


.box {
    background-color: #d1eaff;
    height: 180px;
    width: 400px;
    border-radius: 25px;



}


.name {
    width: 300px;
    height: 40px;
    text-align: center;
    color: grey;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    border-width: 0px;
    background-color: #c9d0d3;
    border-radius: 15px;
}

.playbutton {
    width: 100px;
    height: 45px;
    border-radius: 20px;
    border-width: 0px;
    background-color: #67af70;
    font-family: 'Istok Web', sans-serif;
}

.servers {
    height: 30px;
    width: 270px;
    background-color: #c9d0d3;
    font-family: 'Istok Web', sans-serif;
    font-size: 15px;
    border-radius: 15px;
    border-width: 0px;
    text-align: center;
}